# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env

# React / Next.js build output
frontend/.next/
frontend/node_modules/
frontend/build/

# Logs
logs
*.log
pids
*.pid
*.seed
*.pid.lock

# OS files
.DS_Store
Thumbs.db

# VSCode settings
.vscode/
